<!DOCTYPE html>
<html lang="en">
<head>
  
    <link rel="stylesheet" href="styleA.css">
    


</head>
<body>
    <header>
        <nav>
           
        <ul>
            
            <li><form action="" >
            <input type="submit" value="Acceuil">
            </form></li>

            
            <li><form action="/service" >
            <input type="submit" value="services">   
            </form></li>
            
            
            <form action="/contact" >
            <li><input type="submit" value="Contact"></li>
            </form>

            <form action="/login" >
            <li><input type="submit" value="Admin"></li>
         </form>

        </ul>
       
    </nav>
</header>
        
<img src="learn.png" alt="" class="menu-icon">
    
<section class="text">
    <h1>Learn Application</h1>
    <p>Cette application vous aide a reussire vos etudes <br>
        si vous avez une remarque ou n'importe message <br> n'ésitez pas a nous contacter.</p>

        <form action="/contact" >
        <input type="submit" value="contacter nous">
        </form>

</section>
    <div class="overlay">

    </div>





</body>




</html>