<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="styleCspeciaux.css">
        
</head>

<body>
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Cours spéciaux</label>
		<ul>
			<li><a class="active" href="Acceuil">Acceuil</a></li>
			<li><a href="/service">Services</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/login">Admin</a></li>
		</ul>
	</nav>
    
    <!--PAGE HEADER-->
    <header id="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    
                    
                </div>
            </div>
        </div>
    </header>

    <!--SERVICES SECTION -->
    <section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white">
                            <h3>Artificial intelligence</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$59.99</h4>
                            <p class="card-text">c'est  un cours qui contient plusieurs cahpitres importants concernant  IA 
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Five
                                </li>
                            </ul>
                            <form action="/payement" >
                             <input type=submit class="btn btn-danger btn-block mt-2" value="Get it">
                                
                            </form>
                            
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white">
                            <h3>Devlopement WEB/MODILE</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$49.99</h4>
                            <p class="card-text">c'est  un cours qui contient plusieurs cahpitres importants concernant  IA
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> chapter Five
                                </li>
                            </ul>
                            <form action="/payement">
                                <input type=submit class="btn btn-danger btn-block mt-2" value="Get it">
                                   
                               </form>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center">
                        <div class="card-header bg-dark text-white">
                            <h3>Cyber Security</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">$39.99</h4>
                            <p class="card-text">>c'est  un cours qui contient plusieurs cahpitres importants concernant  IA
                            </p>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Chapter One
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Chapter Two
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Chapter Three
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Chapter Four
                                </li>
                                <li class="list-group-item">
                                    <i class="fas fa-check"></i> Chapter Five
                                </li>
                            </ul>
                            <form action="/payement" >
                                <input type=submit class="btn btn-danger btn-block mt-2" value="Get it">
                                   
                               </form>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

   


    

</body>

</html>