<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="styleservice.css">
   
</head>
<body>
    <nav>
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
			<i class="fas fa-bars"></i>
		</label>
		<label class="logo">Learn Application</label>
		<ul>
			<li><a class="active" href="Accueil">Acceuil</a></li>
			<li><a href="/service">Services</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="/login">Admin</a></li>
		</ul>
	</nav>
	
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
  

   
   



   <form action="/gratuit" >
   <input type="submit" value="La liste des cours">
   </form>
   <br>
   <br>
    
   <form action="/servicep" >
    <input type="submit" value="Des cours spéciaux ">
    </form>
   
    <br>
    <br>

   
   <form action="" >
    <input type="submit" value="Formation avec certificat">
    
    

    
</form>


   


    

</body>